* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    /* full chiều ngang */
    width: 100%;
    /* cao ít nhất = màn hình */
    min-height: 100vh;
    display: flex;
    background: #626cd6;
    align-items: center;
    justify-content: center;
}

.login_form {
    /* khi ta khai báo 100% thì nó sẽ chiếm toàn bộ chiều ngang */
    /* chiều rộng và chiều cao chỉ đủ bao quanh nội dung và ko cần khai báo dài hay rộng nếu không cần thiết */
    width: 100%;
    /* nếu chỉ định độ rộng cụ thể thì sd max-width */
    max-width: 435px;
    background: #fff;
    border-radius: 6px;
    padding: 40px 30px;
    /* tạo viền bóng xung quanh */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Block 0 */
.login_form h3 {
    text-align: center;
    font-size: 20px;
}

/* Block 1 */
.login_form .login_option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.login_form .login_option .option {
    width: calc(100% / 2 - 12px);
}

.login_form .login_option .option a {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: #F8F8FB;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    margin: 35px 0 24px 0;
    text-decoration: none;
    color: #171645;
    font-weight: 500;
    /* muốn dùng transition thì phải có thao tác như hover ... */
    transition: 0.2s ease;

}

.login_form .login_option .option a:hover {
    background: #ededf5;
    border-color: #626cd6;
}

.login_form .login_option .option a img {
    max-width: 25px;
}

/* Block 2 */
.login_form .separator {
    /* thực ra chỗ này chỉ cần thay thẻ div -> p rồi sử dụng text-align: center là done */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;
}

.login_form .separator span {
    background: #fff;
    z-index: 1;
    padding: 0 10px;
    position: relative;
}

.login_form .separator::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 1px;
    background: #C2C2C2;
    display: block;
}

/* Block 3 */
.login_form .input_box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.login_form .input_box label{
    display: block;
    font-weight: 500;
}

.login_form .input_box input {
    width: 100%;
    height: 56px;
    background: #F8F8FB;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    color: #171645;
    font-size: 20px;
    padding: 0 12px;
    transition: 0.2s ease;
}

.login_form .input_box input:focus {
    background: #ededf5;
    border-color: #626cd6;
}

/* Block 4 */
.login_form .input_box .password_title{
    display: flex;
    justify-content: space-between;
}

.login_form .input_box .password_title a{
    color: #626cd6;
    text-decoration: none;
    font-weight: 500;
}

.login_form .input_box .password_title a:hover{
    text-decoration: underline;
}


/* Block 5 */
.login_form button{
    width: 100%;
    height: 56px;
    background: #626cd6;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;
}

.login_form button:hover{
    background: #4954d0;
}

/* Block 6 */
.login_form p{
    display: flex;
    justify-content: center;
}

.login_form p a{
    color: #626cd6;
    text-decoration: none;
    font-weight: 500;
}

.login_form p a:hover{
    text-decoration: underline;
}
