*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    /* full chiều ngang */
    width: 100%;
    /* cao ít nhất = màn hình */
    min-height: 100vh;
    display: flex;
    background: #626cd6;
    align-items: center;
    justify-content: center;
}

.login_form{
    /* khi ta khai báo 100% thì nó sẽ chiếm toàn bộ chiều ngang */
    /* chiều rộng và chiều cao chỉ đủ bao quanh nội dung và ko cần khai báo dài hay rộng nếu không cần thiết */
    width: 100%;
    /* nếu chỉ định độ rộng cụ thể thì sd max-width */
    max-width: 435px;
    background: #fff;
    border-radius: 6px;
    padding: 40px 30px;
    /* tạo viền bóng xung quanh */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Block 0 */
.login_form h3{
    text-align: center;
    font-size: 20px;
}

/* Block 1 */
.login_form .login_option{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.login_form .login_option .option{
    width: calc(100% / 2 - 12px);
}

.login_form .login_option .option a{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: #F8F8FB;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    margin: 35px 0 24px 0;
    text-decoration: none;
    color: #171645;
    font-weight: 500;
    /* muốn dùng transition thì phải có thao tác như hover ... */
    transition: 0.2s ease;

}

.login_form .login_option .option a:hover{
    background: #ededf5;
    border-color: #626cd6;
}

.login_form .login_option .option a img {
    max-width: 25px;
}

/* Block 2 */
.login_form .separator{
    position: relative;
    margin-bottom: 24px;
}

.login_form .separator span{
    background: #fff;
    z-index: 1;
    padding: 0 10px;
    position: relative;
}

.login_form .separator::after{
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 1px;
    background: #C2C2C2;
    display: block;
}




